
body{
margin:0;
font-family:Arial;
background:#fff0f5;
}

header{
background:#ff1493;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#ff69b4;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
text-align:center;
padding:30px;
color:#ff1493;
}

.products{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:white;
margin:15px;
padding:10px;
width:220px;
border-radius:15px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
text-align:center;
}

.card img{
width:100%;
border-radius:10px;
}

button{
background:#ff1493;
color:white;
border:none;
padding:10px;
border-radius:20px;
cursor:pointer;
}

footer{
background:#ff1493;
color:white;
text-align:center;
padding:15px;
margin-top:20px;
}
