
body{
margin:0;
font-family:Arial;
background:linear-gradient(to right,#fff0f5,#ffe6f2);
}

header{
background:linear-gradient(to right,#ff1493,#ff69b4);
color:white;
text-align:center;
padding:20px;
}

nav{
background:#ff69b4;
text-align:center;
padding:12px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
font-size:16px;
}

nav a:hover{
color:yellow;
}

.hero{
text-align:center;
padding:40px;
color:#ff1493;
font-size:20px;
}

.products{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:white;
margin:15px;
padding:15px;
width:230px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
text-align:center;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
border-radius:10px;
}

button{
background:#ff1493;
color:white;
border:none;
padding:10px;
border-radius:20px;
cursor:pointer;
}

button:hover{
background:#ff69b4;
}

.footer{
background:#ff1493;
color:white;
text-align:center;
padding:20px;
margin-top:20px;
}

.social a{
margin:8px;
color:white;
text-decoration:none;
font-weight:bold;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px;
border-radius:50%;
font-size:20px;
text-decoration:none;
}
